.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.well-block {
    background-color: #fff;
    border: 1px solid #e9e6e8;
    padding: 40px;
}

.well-title {
    margin-bottom: 40px;
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
    #book-card { /* scrolling card list */
      max-height: 500px;
      overflow: hidden;
      overflow-y: auto;
      margin-bottom: 25px;
    }
}